<div class="flex flex-row">
  <app-sidenav [collapsed]="collapsed" class="hidden md:block"></app-sidenav>

  <mat-drawer-container class="example-container w-full" hasBackdrop="false">
    <mat-drawer
      #sidenav
      mode="over"
      [ngClass]="{ nav: !collapsed, 'nav-collapsed': collapsed }" 
    >
      <app-sidenav [collapsed]="collapsed" class="block md:hidden"></app-sidenav>
    </mat-drawer>
    <div class="w-full" style="background-color: #f8f8f8">
      <app-menu-top (selecciono)="selecciono($event)"></app-menu-top>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>

  <!-- <div class="w-full" style="background-color: #f8f8f8" >
    <app-menu-top (selecciono)="selecciono($event)"></app-menu-top>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div> -->
</div>
