.page-content {
    // padding: calc(#{$header-height} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.75) $footer-height calc(#{$grid-gutter-width} * 0.75);
    padding: 26px 18px 60px 18px;
}


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

app-sidenav{
  background-color: #2a3042!important;
  color: #a6b0cf;  
}

mat-drawer{
  background-color: #2a3042!important;
  // color: #a6b0cf;  
} 

.app-root{
  height: 100%;
}