.navbar-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: calc(24px * 0.5) 15px;

  .navbar-brand-box {
    padding: 0 1.5rem;
    text-align: center;
    width: 250px;
  }

  .perfil-avatar{
    
  }

  // .menuToggle{

  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
  // }
}
