<div class="navbar-header">
  <div class="flex">
    <div class="navbar-brand-box hidden md:block">
      <button
        mat-icon-button
        color="accent"
        (click)="selecciono.emit((collapsed = !collapsed))"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="dropdown-mega d-none d-lg-block ms-2 dropdown"></div>
    <!-- <button type="button" mat-button (click)="clickMenu()">
      Toggle sidenavre
    </button> -->
    <div class="md:hidden text-end">
      <button type="button" mat-button (click)="clickMenu()">
        Toggle sidenavre
      </button>
    </div>
  </div>
  <div>
    <span
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      class="flex flex-row items-center justify-center cursor-pointer"
    >
    <cms-avatar photo="https://material.angular.io/assets/img/examples/shiba1.jpg" class="mr-2"></cms-avatar>
    <p class="text-xs">Celebrando Fiestas</p>

  </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar</span>
      </button>
    </mat-menu>
  </div>
</div>
